<form name="approveLoan">
  <div class="form-group">
    <label for="clase">clase</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="clase"
           name="clase"
           readonly="true" />
  </div>
  <div class="form-group">
    <label for="razon">razon</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="razon"
           name ="true"
           readonly="true" />
  </div>
  <div class="form-group">
    <label for="check">check</label>
    <<input type="checkbox"
       cam-variable-name="check"
       cam-variable-type="Boolean" />

  </div>
</form>