<form name="requestLoan">
<div class="form-group">
    <label for="clase">clase</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="clase"
           name="clase" />
  </div>
 <div class="form-group">
    <label for="razon">razon</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="razon"
           name ="razon" />
  </div>
</form>